* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 120px 16% 16%;
}

.header {
  background-color: lightslategrey;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
